.navbar {
  height: 50px;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  display: flex;
  justify-content: center;
  position: sticky;
}
.navContainer {
  width: 100%;
  max-width: 1024px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 500;
}
.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003588;
  border-radius: 15px;
}
